BasedOnStyle: Chromium
AccessModifierOffset: '-4'
AlignConsecutiveMacros: 'true'
AlignTrailingComments: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: 'Yes'
BreakBeforeBraces: Attach
ColumnLimit: '120'
DerivePointerAlignment: 'false'
FixNamespaceComments: 'true'
IncludeBlocks: Regroup
IndentPPDirectives: BeforeHash
IndentWidth: '4'
Language: Cpp
PointerAlignment: Left
UseTab: Never