Checks: 
 'readability-identifier-naming*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  -clang-diagnostic-ignored-optimization-argument,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-magic-numbers,
  google-build-explicit-make-pair,
  google-build-using-namespace,
  google-explicit-constructor,
  google-readability-casting,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-pass-by-value,
  -modernize-avoid-c-arrays,
  performance-*,
  readability-*,
  -readability-use-anyofallof,
  -readability-function-cognitive-complexity,
  -readability-identifier-length',
  -readability-magic-numbers

WarningsAsErrors: '*'

HeaderFilterRegex: '@HEADERS_FOR_CLANG_TIDY@'

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,                 value: camelBack  }
  - { key: readability-identifier-naming.ClassCase,                     value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,                    value: CamelCase  }
  - { key: readability-identifier-naming.UnionCase,                     value: CamelCase  }

  - { key: readability-identifier-naming.FunctionCase,                  value: camelBack  }
  - { key: readability-identifier-naming.ParameterCase,                 value: camelBack  }
  - { key: readability-identifier-naming.VariableCase,                  value: camelBack  }

  - { key: readability-identifier-naming.GlobalConstantCase,            value: camelBack  }

  - { key: readability-identifier-naming.GlobalVariableCase,            value: camelBack  }